#########################################################################################
#                                                                                       #
# Deployment topologies                                                                 #
#                                                                                       #
# Standard (All roles on same server)                                                   #
#  Define the database tier values and set enable_app_tier_deployment to false          #
#                                                                                       #
# Distributed (1+1 or 1+1+N)                                                            #
#  Define the database tier values and define scs_server_count = 1,                     #
#  application_server_count >= 1                                                        #
#                                                                                       #
# High Availability                                                                     #
#  Define the database tier values and database_high_availability = true                #
#  scs_server_count = 1 and scs_high_availability = true                                #
#  application_server_count >= 1                                                        #
#                                                                                       #
# The automation supports both creating resources (greenfield) or using existing        #
# resources (brownfield).                                                               #
#                                                                                       #
# For the greenfield scenario the automation defines default names for resources,       #
# if there is a XXXXname variable then the name is customizable.                        #
# For the brownfield scenario the Azure resource identifiers for the resources must     #
# be specified using the XXXX_armid fields.                                             #
#                                                                                       #
#########################################################################################

#########################################################################################
#                                                                                       #
#  Environment/Application definitions                                                  #
#                                                                                       #
#########################################################################################

# The environment value is a mandatory field, it is used for partitioning the environments, for example (PROD and NP)
environment = "{{ config.environment }}"

# The location value is a mandatory field, it is used to control where the resources are deployed
location = "{{ config.location }}"

# The sid value is a mandatory field that defines the SAP Application SID
sid = "{{ config.sid }}"

# The database_sid defines the database SID
database_sid = "{{ config.database_sid }}"

# The database_platform defines the database backend, supported values are
# - HANA
# - DB2
# - ORACLE
# - ORACLE-ASM
# - SYBASE
# - SQLSERVER
# - NONE (in this case no database tier is deployed)
database_platform = "{{ config.database_platform }}"

# Description of the SAP system.
Description = "{{ config.description | default('SAP System generated by SDAF Assistant') }}"

#########################################################################################
#                                                                                       #
#  Deployment parameters                                                                #
#                                                                                       #
#########################################################################################

# use_secondary_ips controls if the virtual machines should be deployed with two IP addresses. Required for SAP Virtual Hostname support
use_secondary_ips = {{ config.use_secondary_ips | default('true') | lower }}

# use_scalesets_for_deployment defines if Flexible Virtual Machine Scale Sets are used for the deployment
use_scalesets_for_deployment = {{ config.use_scalesets_for_deployment | default('false') | lower }}

# database_use_premium_v2_storage defines if the database tier will use premium v2 storage
database_use_premium_v2_storage = {{ config.database_use_premium_v2_storage | default('false') | lower }}

# upgrade_packages defines if all packages should be upgraded after installation
upgrade_packages = {{ config.upgrade_packages | default('false') | lower }}

#########################################################################################
#                                                                                       #
#  Database tier                                                                        #
#                                                                                       #
#########################################################################################

# Defines the number of database servers
database_server_count = {{ config.database_server_count | default(1) }}

# database_high_availability is a boolean flag controlling if the database tier is deployed highly available (more than 1 node)
database_high_availability = {{ config.database_high_availability | default('false') | lower }}

# For M series VMs use the SKU name for instance "M32ts"
# If using a custom disk sizing populate with the node name for Database you have used in the file custom_disk_sizes_filename
database_size = "{{ config.database_size | default('E20ds_v4') }}"

# database_vm_use_DHCP is a boolean flag controlling if Azure subnet provided IP addresses should be used (true)
database_vm_use_DHCP = {{ config.database_vm_use_dhcp | default('true') | lower }}

# The vm_image defines the Virtual machine image to use,
# if source_image_id is specified the deployment will use the custom image provided,
# in this case os_type must also be specified
database_vm_image = {
  os_type         = "{{ config.os_type | default('LINUX') }}"
  source_image_id = ""
  publisher       = "{{ config.os_publisher | default('SUSE') }}"
  offer           = "{{ config.os_offer | default('sles-sap-15-sp5') }}"
  sku             = "{{ config.os_sku | default('gen2') }}"
  version         = "latest"
  type            = "marketplace"
}

# database_vm_zones is an optional list defining the availability zones to deploy the database servers
database_vm_zones = {{ config.database_vm_zones | default('["1"]') }}

# Optional, Defines the that the database virtual machines will be placed in a proximity placement group
database_use_ppg = {{ config.database_use_ppg | default('true') | lower }}

# Optional, Defines the that the database virtual machines will not be placed in an availability set
database_use_avset = {{ config.database_use_avset | default('false') | lower }}

#########################################################################################
#                                                                                       #
#  Application tier                                                                     #
#                                                                                       #
#########################################################################################

# app_tier_sizing_dictionary_key defines the VM SKU and the disk layout for the application tier servers.
app_tier_sizing_dictionary_key = "{{ config.app_tier_sizing_dictionary_key | default('Optimized') }}"

# enable_app_tier_deployment is a boolean flag controlling if the application tier should be deployed
enable_app_tier_deployment = {{ config.enable_app_tier_deployment | default('false') | lower }}

# app_tier_use_DHCP is a boolean flag controlling if Azure subnet provided IP addresses should be used (true)
app_tier_use_DHCP = {{ config.app_tier_use_dhcp | default('true') | lower }}

#########################################################################################
#                                                                                       #
#  SAP Central Services                                                                 #
#                                                                                       #
#########################################################################################

# scs_server_count defines how many SCS servers to deploy
scs_server_count = {{ config.scs_server_count | default(0) }}

# scs_high_availability is a boolean flag controlling if SCS should be highly available
scs_high_availability = {{ config.scs_high_availability | default('false') | lower }}

# scs_instance_number defines the instance number for SCS
scs_instance_number = "{{ config.scs_instance_number | default('01') }}"

# ers_instance_number defines the instance number for ERS
ers_instance_number = "{{ config.ers_instance_number | default('02') }}"

# pas_instance_number defines the instance number for PAS
pas_instance_number = "{{ config.pas_instance_number | default('00') }}"

# scs_server_zones is an optional list defining the availability zones to which deploy the SCS servers
scs_server_zones = {{ config.scs_server_zones | default('["1"]') }}

{% if config.enable_app_tier_deployment | default(false) %}
# The vm_image defines the Virtual machine image to use for the SCS servers
scs_server_image = {
  os_type         = "{{ config.os_type | default('LINUX') }}"
  source_image_id = ""
  publisher       = "{{ config.os_publisher | default('SUSE') }}"
  offer           = "{{ config.os_offer | default('sles-sap-15-sp5') }}"
  sku             = "{{ config.os_sku | default('gen2') }}"
  version         = "latest"
  type            = "marketplace"
}

# scs_server_use_ppg defines the that the SCS virtual machines will be placed in a proximity placement group
scs_server_use_ppg = {{ config.scs_server_use_ppg | default('true') | lower }}

# scs_server_use_avset defines the that the SCS virtual machines will be placed in an availability set
scs_server_use_avset = {{ config.scs_server_use_avset | default('false') | lower }}
{% endif %}

#########################################################################################
#                                                                                       #
#  Application Servers                                                                  #
#                                                                                       #
#########################################################################################

# application_server_count defines how many application servers to deploy
application_server_count = {{ config.application_server_count | default(0) }}

{% if config.application_server_count | default(0) > 0 %}
# application_server_zones is an optional list defining the availability zones to which deploy the application servers
application_server_zones = {{ config.application_server_zones | default('["1"]') }}

# app_tier_dual_nics is a boolean flag controlling if the application tier servers should have two network cards
app_tier_dual_nics = {{ config.app_tier_dual_nics | default('false') | lower }}

# application_server_use_ppg defines the that the application server virtual machines will be placed in a proximity placement group
application_server_use_ppg = {{ config.application_server_use_ppg | default('true') | lower }}

# application_server_use_avset defines the that the application server virtual machines will be placed in an availability set
application_server_use_avset = {{ config.application_server_use_avset | default('true') | lower }}

# The vm_image defines the Virtual machine image to use for the application servers
application_server_image = {
  os_type         = "{{ config.os_type | default('LINUX') }}"
  source_image_id = ""
  publisher       = "{{ config.os_publisher | default('SUSE') }}"
  offer           = "{{ config.os_offer | default('sles-sap-15-sp5') }}"
  sku             = "{{ config.os_sku | default('gen2') }}"
  version         = "latest"
  type            = "marketplace"
}
{% endif %}

#########################################################################################
#                                                                                       #
#  Web Dispatchers                                                                      #
#                                                                                       #
#########################################################################################

# webdispatcher_server_count defines how many web dispatchers to deploy
webdispatcher_server_count = {{ config.webdispatcher_server_count | default(0) }}

{% if config.webdispatcher_server_count | default(0) > 0 %}
# web_sid is the Web Dispatcher SID
web_sid = "{{ config.web_sid | default('W00') }}"

# web_instance_number defines the web instance number
web_instance_number = "{{ config.web_instance_number | default('00') }}"

# webdispatcher_server_zones is an optional list defining the availability zones to which deploy the web dispatchers
webdispatcher_server_zones = {{ config.webdispatcher_server_zones | default('["1"]') }}

# webdispatcher_server_use_ppg defines the that the Web dispatcher virtual machines will be placed in a proximity placement group
webdispatcher_server_use_ppg = {{ config.webdispatcher_server_use_ppg | default('false') | lower }}

# webdispatcher_server_use_avset defines the that the Web dispatcher virtual machines will be placed in an availability set
webdispatcher_server_use_avset = {{ config.webdispatcher_server_use_avset | default('false') | lower }}

# The vm_image defines the Virtual machine image to use for the web dispatchers
webdispatcher_server_image = {
  os_type         = "{{ config.os_type | default('LINUX') }}"
  source_image_id = ""
  publisher       = "{{ config.os_publisher | default('SUSE') }}"
  offer           = "{{ config.os_offer | default('sles-sap-15-sp5') }}"
  sku             = "{{ config.os_sku | default('gen2') }}"
  version         = "latest"
  type            = "marketplace"
}
{% endif %}

#########################################################################################
#                                                                                       #
#  Common Virtual Machine settings                                                      #
#                                                                                       #
#########################################################################################

# If defined, will add the Microsoft.Azure.Monitor.AzureMonitorLinuxAgent extension to the virtual machines
deploy_monitoring_extension = {{ config.deploy_monitoring_extension | default('false') | lower }}

# If defined, will add the Microsoft.Azure.Security.Monitoring extension to the virtual machines
deploy_defender_extension = {{ config.deploy_defender_extension | default('false') | lower }}

# If defined, defines the patching mode for the virtual machines
patch_mode = "{{ config.patch_mode | default('ImageDefault') }}"

# If defined, defines the mode of VM Guest Patching for the Virtual Machine
patch_assessment_mode = "{{ config.patch_assessment_mode | default('ImageDefault') }}"

#########################################################################################
#                                                                                       #
#  Cluster settings                                                                     #
#                                                                                       #
#########################################################################################

# scs_cluster_type defines cluster quorum type; AFA (Azure Fencing Agent), ASD (Azure Shared Disk), ISCSI
scs_cluster_type = "{{ config.scs_cluster_type | default('AFA') }}"

# database_cluster_type defines cluster quorum type; AFA (Azure Fencing Agent), ASD (Azure Shared Disk), ISCSI
database_cluster_type = "{{ config.database_cluster_type | default('AFA') }}"

# use_msi_for_clusters if defined will use managed service identity for the Pacemaker cluster fencing
use_msi_for_clusters = {{ config.use_msi_for_clusters | default('true') | lower }}

# use_simple_mount specifies if Simple mounts are used (Applicable for SLES 15 SP# or newer)
use_simple_mount = {{ config.use_simple_mount | default('false') | lower }}

# Configure fencing device based on the fence agent fence_kdump for both SCS and DB clusters
use_fence_kdump = {{ config.use_fence_kdump | default('false') | lower }}

#########################################################################################
#                                                                                       #
#  NFS support                                                                          #
#                                                                                       #
#########################################################################################

# NFS_Provider defines how NFS services are provided to the SAP systems, valid options are "ANF", "AFS", "NFS" or "NONE"
# AFS indicates that Azure Files for NFS is used
# ANF indicates that Azure NetApp Files is used
# NFS indicates that a custom solution is used for NFS
NFS_provider = "{{ config.nfs_provider | default('AFS') }}"

# sapmnt_volume_size defines the size of the sapmnt volume in GB
sapmnt_volume_size = {{ config.sapmnt_volume_size | default(128) }}

# use_random_id_for_storageaccounts defines if the sapmnt storage account name will have a random suffix
use_random_id_for_storageaccounts = {{ config.use_random_id_for_storageaccounts | default('true') | lower }}

#########################################################################################
#                                                                                       #
#  Networking                                                                           #
#                                                                                       #
# The deployment automation supports two ways of providing subnet information.          #
# 1. Subnets are defined as part of the workload zone deployment                        #
#    In this model multiple SAP System share the subnets                                #
# 2. Subnets are deployed as part of the SAP system                                     #
#    In this model each SAP system has its own sets of subnets                          #
#                                                                                       #
#########################################################################################

# The network logical name is mandatory - it is used in the naming convention and should map to the workload virtual network logical name
network_logical_name = "{{ config.network_logical_name }}"

# use_loadbalancers_for_standalone_deployments is a boolean flag that can be used to control if standalone deployments (non HA) will have load balancers
use_loadbalancers_for_standalone_deployments = {{ config.use_loadbalancers_for_standalone_deployments | default('true') | lower }}

# use_private_endpoint is a boolean flag controlling if the key vaults and storage accounts have private endpoints
use_private_endpoint = {{ config.use_private_endpoint | default('true') | lower }}

# nsg_asg_with_vnet if set controls where the Application Security Groups are created
nsg_asg_with_vnet = {{ config.nsg_asg_with_vnet | default('false') | lower }}

{% if config.network_type == 'greenfield' %}
#########################################################################################
#                                                                                       #
#  Greenfield Network Configuration                                                     #
#  Subnets will be created by SDAF                                                      #
#                                                                                       #
#########################################################################################

# admin_subnet_address_prefix is the address prefix for the admin subnet
admin_subnet_address_prefix = "{{ config.admin_subnet | default('10.1.0.0/24') }}"

# db_subnet_address_prefix is the address prefix for the database subnet
db_subnet_address_prefix = "{{ config.db_subnet | default('10.1.1.0/24') }}"

# app_subnet_address_prefix is the address prefix for the application subnet
app_subnet_address_prefix = "{{ config.app_subnet | default('10.1.2.0/24') }}"

# web_subnet_address_prefix is the address prefix for the web subnet
web_subnet_address_prefix = "{{ config.web_subnet | default('10.1.3.0/24') }}"
{% endif %}

{% if config.network_type == 'brownfield' %}
#########################################################################################
#                                                                                       #
#  Brownfield Network Configuration                                                     #
#  Using existing subnets from workload zone                                            #
#                                                                                       #
#########################################################################################

# admin_subnet_arm_id is the Azure resource identifier for the existing admin subnet
admin_subnet_arm_id = "{{ config.admin_subnet_arm_id }}"

# db_subnet_arm_id is the Azure resource identifier for the existing database subnet
db_subnet_arm_id = "{{ config.db_subnet_arm_id }}"

# app_subnet_arm_id is the Azure resource identifier for the existing application subnet
app_subnet_arm_id = "{{ config.app_subnet_arm_id }}"

# web_subnet_arm_id is the Azure resource identifier for the existing web subnet
web_subnet_arm_id = "{{ config.web_subnet_arm_id }}"
{% endif %}

#########################################################################################
#                                                                                       #
#  Key Vault information                                                                #
#                                                                                       #
#########################################################################################

# If defined, will enable purge control for the key vaults
enable_purge_control_for_keyvaults = {{ config.enable_purge_control_for_keyvaults | default('false') | lower }}

#########################################################################################
#                                                                                       #
#  Proximity Placement Group                                                            #
#                                                                                       #
#########################################################################################

# Boolean value indicating if an proximity placement group should be used for the app tier VMs
use_app_proximityplacementgroups = {{ config.use_app_proximityplacementgroups | default('false') | lower }}

#########################################################################################
#                                                                                       #
#  Tags                                                                                 #
#                                                                                       #
#########################################################################################

{% if config.tags %}
tags = {
{% for key, value in config.tags.items() %}
  {{ key }} = "{{ value }}"
{% endfor %}
}
{% endif %}

#########################################################################################
#                                                                                       #
#  Generated by SAP Deployment Assistant                                                #
#  Date: {{ config._timestamp }}                                                        #
#  Deployment Type: {{ config.deployment_type | default('Single Instance (Standard)') }}#
#                                                                                       #
#########################################################################################
